<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Formulario de contacto</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  
  </head>


<body>  
  

  <div class="contact_form">

    <div class="formulario">      
      <h1>Formulario de contacto</h1>
        <h3>Escríbenos y en breve nos pondremos en contacto contigo</h3>


        <form action="/" method="post">      

                <p>
                  <label for="nombre" class="colocar_nombre">Nombre
                    <span class="obligatorio">*</span>
                  </label>
                    <input type="text" name="name" id="name" required="obligatorio" placeholder="Escribe tu nombre">
                </p>
              
                <p>
                  <label for="email" class="colocar_email">Email
                    <span class="obligatorio">*</span>
                  </label>
                    <input type="email" name="email" id="email" required="obligatorio" placeholder="Escribe tu Email">
                </p>    
              
                <p>
                  <label for="mensaje" class="colocar_mensaje">Mensaje
                    <span class="obligatorio">*</span>
                  </label>                     
                                    <textarea name="message" class="texto_mensaje" id="message" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea> 
                                </p>                    
              
                <button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>

                <p class="aviso">
                  <span class="obligatorio"> * </span>los campos son obligatorios.
                </p>    
                <input type="hidden" name="ip" value="<%=data.ip%>">
                <input type="hidden" name="date" value="<%=data.date%>">
                <input type="hidden" name="time" value="<%=data.time%>">      
            
          </form>
    </div>  
  </div>

  

</body>
</html>
