<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <h1>Curriculum Vitae</h1>

<h2>Datos personales</h2>
<ul>
<li>Nombre completo:  <strong>Carlos Eduardo Pereira Oribio</strong></li>
<li>Fecha de nacimiento: <strong>8/10/2003</strong></li>
<li>Lugar de nacimiento:  <strong>Villa de cura/Aragua</strong></li>
</ul>

<h2>Formación académica</h2>
<ul>
<li>2020-: <strong>Universidad Nacional Experimental Romulo Gallegos</strong></li>
<li>2015-2020: <strong>Escuela Secundaria Manuel Morales Carabaño</strong></li>
<li>2019-2020:  <strong>Instituto de Gastronomia y Pasteleria El Olivo </strong></li>
<li>2011-2015: <strong>Escuela Primaria Simon Rodrigues</strong></li>
<li>2009-2011: <strong>Escuela Primaria Vinicio Adames</strong></li>
</ul>

<h2>Experiencia laboral</h2>
<ul>
    <li>LTA Editorial: Redacctor novicio </li>
</ul>

<h2>Referencias Personales</h2>
<ul>
    <li>Correo electronico: <strong>cp06685@gmail.com</strong></li>
    <li>Numero telefonico: <strong>0412-6726694</strong></li>
</ul>

<h2>Habilidades y destrezas</h2>
<ul>
    <li>Redacctor</li>
    <li>Escritor</li>
    <li>Estudios independientes en literatura y periodismo</li>
    <li>Formacion principiante en pasteleria</li>
</ul>

</body>
=======
    <h1><%= title %></h1>
    <p>Nombre: Carlos pereira</p>
    <p>Cedula: 30.211.766</p>
    <p>Seccion: 1</p>
    <p>Programacion 2</p>
  </body>
>>>>>>> parent of 8821a52 (Update index.ejs)
</html>

