<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f36ee5e341.js" crossorigin="anonymous"></script>
  </head>
  <body>

<div class="container"> 

  <div class="v-line1">
    <p class="P1">PERFIL</p>
    <p class="P2"> Aficcionado a la literatura y el periodismo. Paso mi tiempo libre desarrollando ideas
       y construyendo informacion para una guia de botanica que planeo distruir entre mis amigos y familiares.
       Ademas de eso, curso una carrera de ingenieria con el afán de sostener mi vida sobre una profesion preponderante
       al periodismo.
    </p>
    <p class="P3"><i class="fa-brands fa-whatsapp"></i> 0412-6726694</p>
    <p class="P4"><i class="fa-solid fa-envelope"></i> Cp06685@gmail.com</p>
    <p class="P5"><i class="fa-brands fa-facebook"></i> Chris Mortis</p>

    <span class="icon icon-"></span>
  </div>  
  <div class="v-line">
    </div><br>

    <div class="img">
      <img src="/images/perfil.jpg" alt="">
    </div>

    <div class="name">
      <div class="content">
        <p class="P1">Carlos Eduardo</p>
        <p class="P2"> Pereira Oribio</p>
      </div>
    </div>

     <div class="info"> 
      <p class="title-secc">FORMACION</p>
    <div class="form1">
      <p class="P1">2009 - 2015 </p>
      <p class="P2">U.E.E Simon Rodriguez</p><br>
      <p class="P3">Educacion primaria.</p>
    </div>
    <div class="form2">
      <p class="P1">2015 - 2020 </p>
      <p class="P2">U.E.N Manuel Morales Carabaño</p><br>
      <p class="P3">Educacion secundaria.</p>
    </div>
    <p class="title-ex">EXPERIENCIA</p>
    <div class="expe">
      <p class="P1">2019 - 2020</p>
      <p class="P2">LTA Editorial</p><br>
      <p class="P3">Redacctor novicio.</p>
    </div>
  </div>
<div class="bar">
<label for="bar1">Java Script:</label><br>
<progress id="bar1" max="100" value="20"> 70% </progress>
<div class="bar1">
  <label for="bar2">Castellano:</label>
  <progress id="bar2" max="100" value="70"> 70% </progress>
  </div>
  <div class="bar3">
    <label for="bar3">Lexico:</label>
    <progress id="bar3" max="100" value="40"> 70% </progress>
    </div>
    <div class="bar4">
      <label for="bar4">HTML:</label>
      <progress id="bar4" max="100" value="10"> 70% </progress>
      </div>
      <p class="title">IDIOMAS</p>
      <div class="bar5">
        <label for="bar5">Ingles:</label>
        <progress id="bar5" max="100" value="60"> 70% </progress>
        </div>
    </div>
      </div>
  </body>
</html>
