<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nombre: Carlos pereira</p>
    <p>Cedula: 30.211.766</p>
    <p>Seccion: 1</p>
    <p>Programacion 2</p>
  </body>
</html>
